html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
footer,
header,
nav,
section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figcaption,
figure,
main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html [type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details,
menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: '';
    clear: both;
    height: 0;
}

html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    font-size: 62.5%;
}

/* * {
    transition: 0.3s;
} */

/* stripping the default padding/margin from elements */

p,
h1,
h2,
h3,
h4,
ul {
    margin: 0;
    padding: 0;
}


/* wrapper styles */

.wrapper {
    max-width: 1200px;
    width: 82.5%;
    margin: 0 auto;
}


/* general styling */

/* color variables */
:root {
    --darkgrey: #28292a;
    --darkblue: #004a77;
    --offwhite: #e3e3e3;
    --hovblue: #2191FB;
}

body {
    background-color: var(--darkgrey);
}

p,
li,
a,
button,
label,
h4 {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
    color: var(--offwhite);
}

h2,
h3 {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: var(--offwhite);
}

h4 {
    color: var(--offwhite);
}

a {
    text-decoration: none;
    font-size: 2rem;
    transition: .2s;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
    padding-top: 20px;
}

h4 {
    font-size: 2rem;
}

p,
button,
label {
    font-size: 1.8rem;
    padding: 40px 0;
    line-height: 3.2rem;
    letter-spacing: 1px;
}

p {
    display: inline-block;
    width: 40%;
}

li {
    list-style: none;
}

button:hover,
button:focus {
    background-color: #08022d;
    border: 3px solid #ffd600;
    color: #ffd600;
    transition: .5s;
}


/* header */

header {
    height: 100svh;
}

nav {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 8.75%;
    padding-right: 8.75%;
    background-color: #000;
    height: 100px;
    z-index: 1;
    border-bottom: 2px solid var(--offwhite);
}

h1 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 10rem;
    letter-spacing: 1px;
    font-weight: 500;
    /* text-align: center; */
    margin-top: 40px;
    color: var(--offwhite);
    position: relative;
}

h1 .thin {
    font-weight: 100;
    margin-bottom: -30px;
}

h2 {
    /* margin-top: 30px; */
    font-weight: 200;
}

h3 {
    font-size: 2.6rem;
    font-weight: 200;
    margin-top: 100px;
}

h3:first-of-type {
    margin-top: 0;
}

.logosContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.logos:hover {
    transform: scale(1.2);
}


.logoZoom {
    animation: highlight .7s 1;
}

@keyframes highlight {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.logos {
    width: 75px;
    height: 75px;
    background-color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    transition: .5s;
    border: 3px solid var(--hovblue);
}

.logos img {
    max-height: 55px;
}

header p {
    font-size: 2.5rem;
    padding-bottom: 0;
}

.aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar img {
    width: 250px;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    height: 100vh;
    width: 87.5%;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

header li {
    padding-top: 6px;
}


/* sections */

section {
    min-height: 100vh;
    padding-top: 100px;
}

/* .grey {
    background: #f2f2f2;
} */


/* projects */

img {
    max-width: 100%;
}

.imageFlex {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.imageWrapper {
    max-width: 700px;
}

.imageWrapper img {
    border: 2px solid #000;
}

.projectOne {
    background-image: url(../images/sites/carpenter_full.png);
}

.projectTwo {
    background-image: url(../images/sites/electra_full.png);
}

.projectThree {
    background-image: url(../images/sites/firstguaranty_full.png);
}

.projectFour {
    background-image: url(../images/sites/americold_full.png);
}

.projectFive {
    background-image: url(../images/sites/knowles_full.png);
}

.projectSix {
    background-image: url(../images/sites/centric_full.png);
}

.projectSeven {
    background-image: url(../images/projects/simpsons_trivia.png);
}

.projectEight {
    background-image: url(../images/projects/picacolour.png);
}



.projectcard {
    width: calc((100vw / 3) - 20px);
    min-width: 200px;
    margin: 20px;
    flex-grow: 1;
    position: relative;
    transition: 0.5s;
    height: calc((100vw / 3) - 20px);
    border: 3px solid var(--darkgrey);
    background-size: cover;
    background-position: top;
}

.projectoverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: none;
    transition: .5s ease;
    background-color: var(--darkgrey);
    border: 3px solid var(--hovblue);
}

.projectcard:hover .projectoverlay {
    opacity: .9;
}

.projectcard img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.overlaytext {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    width: 100%;
}

.overlaytext a {
    color: white;
    font-size: 2rem;
}

.overlaytext ul {
    margin-top: 30px;
}

.projects {
    width: 100%;
    height: 500px;
    background-color: var(--darkblue);
    border: 3px solid var(--hovblue);
    border-radius: 25px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    & span {
        font-size: 1.8rem;
        margin-left: 10px;
    }

    & li {
        font-size: 1.6rem;
        font-weight: 400;
        padding-top: 20px;
        padding-left: 5px;
        line-height: 1.5;
        color: var(--offwhite);
        list-style: square;
        margin-left: 20px;
    }

    & .imageWrapper {
        overflow-y: scroll;
        height: 100%;
    }

    & a {
        color: var(--offwhite);
        font-weight: 400;
        position: relative;
    }
}

.projects:last-of-type {
    margin-bottom: 50px;
}

.fa,
.far,
.fas {
    font-family: "Font Awesome 6";
}

.social {
    padding: 10px;

    & span {
        color: var(--offwhite);
        font-size: 3.6rem;
        margin: 0 10px;
        transition: .2s;
    }

    & span:hover {
        color: var(--hovblue);
        transform: scale(1.2);
    }
}

.profDev .imageWrapper {
    overflow: hidden;
    max-width: 550px;

}

footer {
    background-color: var(--darkblue);
    text-align: center;
    border-top: 3px solid var(--hovblue);

    & a,
    p {
        padding: 0;
        font-size: 1.6rem;
    }

    & a:hover {
        text-decoration: underline;
    }
}

.frontend,
.professionaldev {
    display: flex;
    flex-wrap: wrap;
}